@import './../_variables.scss';
.c_container {
  position: relative;
  background: $black;
  width: 100%;
  height: 100%;
  .c_title {
    padding-top: 40px;
    text-align: center;
    color: $white;
  }
  .c_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1000px;
    height: 300px;
    .client_side {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      width: 107px;
      height: 107px;
    }
    .c_w_desc {
      width: 800px;
      height: 100%;
      margin: 0 auto;
      .f_wrap {
        display: inline-block;
        position: relative;
        width: 266.6px;
        height: 100%;
        color: $white;
        text-align: center;
        cursor: pointer;
        &:hover {
          .wall {
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
          }
          .w_desc {
            opacity: 1;
          }
        }
      }
      .wall {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 140px;
        border-radius: 6px;
        background-image: url('./../../public/imgs/wall.png');
        background-size: cover;
        transform: translateX(-50%) translateY(-50%) rotateX(20deg) rotateY(-55deg);
        transition: .8s all ease;
      }
      .w_desc {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        padding: 10px;
        border-radius: 10px;
        background: rgba(204, 204, 204, 0.2);
        transition: 1s all ease;
      }
      .w_d_arrow {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        border-top: 5px solid rgba(204, 204, 204, 0);
        border-left: 5px solid rgba(204, 204, 204, 0);
        border-right: 5px solid rgba(204, 204, 204, 0);
        border-bottom: 5px solid rgba(204, 204, 204, 0.2);
      }
    }
    .virus {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 88px;
      height: 144px;
    }
  }
}