@import './../_variables.scss';
.c_container {
  position: relative;
  background: $black;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  background-image: url('./../../public/imgs/3.jpeg');
  .c_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .c_title {
    padding-top: 40px;
    text-align: center;
    color: $white;
  }
  .c_a_container {
    width: 1000px;
    margin: 0 auto;
    .c_arrow_w {
      position: absolute;
      top: 118px;
      left: 80%;
      opacity: 0;
      transition: 1s opacity ease 3s;
    }
    .c_a_h {
      position: absolute;
    }
    .a_h {
      position: absolute;
      width: 30px;
      height: 5px;
      border-radius: 10px;
      background: -webkit-linear-gradient(left, rgba(124, 122, 122, 1) 50%, rgba(124, 122, 122, 0) 100%);
      background: -moz-linear-gradient(left, rgba(124, 122, 122, 1) 50%, rgba(124, 122, 122, 0) 100%);
      background: -o-linear-gradient(left, rgba(124, 122, 122, 1) 50%, rgba(124, 122, 122, 0) 100%);
      background: -ms-linear-gradient(left, rgba(124, 122, 122, 1) 50%, rgba(124, 122, 122, 0) 100%);
      background: linear-gradient(left, rgba(124, 122, 122, 1) 50%, rgba(124, 122, 122, 0) 100%);
    }
    .a_h_left {
      top: 16px;
      left: 0px;
      transform: rotateZ(-40deg);
    }
    .a_h_right {
      top: 33px;
      left: 0px;
      transform: rotateZ(43deg);
    }
    .c_a_f {
      position: absolute;
      top: 25px;
      left: 5px;
      width: 0px;
      height: 5px;
      border-radius: 5px;
      background: -webkit-linear-gradient(left, rgba(124, 122, 122, 1) 20%, rgba(124, 122, 122, 0) 100%);
      background: -moz-linear-gradient(left, rgba(124, 122, 122, 1) 20%, rgba(124, 122, 122, 0) 100%);
      background: -o-linear-gradient(left, rgba(124, 122, 122, 1) 20%, rgba(124, 122, 122, 0) 100%);
      background: -ms-linear-gradient(left, rgba(124, 122, 122, 1) 20%, rgba(124, 122, 122, 0) 100%);
      background: linear-gradient(left, rgba(124, 122, 122, 1) 20%, rgba(124, 122, 122, 0) 100%);
    }
    
    .c_a_desc {
      display: inline-block;
      margin-top: 60px;
      color: #7c7c7c;
      width: 50px;
      font-size: 22px;
      text-align: center;
    }
    .fence {
      width: 900px;
      opacity: 0;
    }
    .attack {
      width: 100px;
      opacity: 0;
      //transition: 1s all ease 2s;
    }
  }
  .c_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1000px;
    height: 300px;
    .client_side {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      width: 107px;
      height: 107px;
      text-align: center;
      color: #7c7c7c;
      font-size: 12px;
      opacity: 0;
      transition: 1s all ease 1s;
    }
    .c_w_desc {
      width: 800px;
      height: 100%;
      margin: 0 auto;
      opacity: 0;
      transform: translateY(30px);
      transition: 1s all ease 5s;      
    }
    .f_wrap {
      display: inline-block;
      position: relative;
      width: 266.6px;
      height: 100%;
      color: $white;
      text-align: center;
      cursor: pointer;
      &:hover {
        .wall {
          transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateY(0deg);
        }
        .w_desc {
          opacity: 1;
        }
      }
    }
    .wall {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 140px;
      border-radius: 6px;
      background-image: url('./../../public/imgs/wall.png');
      background-size: cover;
      transform: translateX(-50%) translateY(-50%) rotateX(20deg) rotateY(-55deg);
      transition: .8s all ease;
    }
    .w_desc {
      opacity: 0;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      padding: 10px;
      border-radius: 10px;
      background: rgba(204, 204, 204, 0.4);
      transition: 1s all ease;
    }
    .w_d_arrow {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      border-top: 5px solid rgba(204, 204, 204, 0);
      border-left: 5px solid rgba(204, 204, 204, 0);
      border-right: 5px solid rgba(204, 204, 204, 0);
      border-bottom: 5px solid rgba(204, 204, 204, 0.4);
    }
    .virus {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 88px;
      height: 144px;
      text-align: center;
      color: #7c7c7c;
      font-size: 12px;
      opacity: 0;
      transition: 1s all ease 1s;
    }
  }
}

.c_con_an {
  .c_a_container {
    .fence {
      animation: fenceAn 2s ease 4s forwards;
    }
    @keyframes fenceAn {
      0% {
        opacity: 0;
        transform: translateX(20px);
      }
      60% {
        opacity: 1;
        transform: translateX(20px);
      }
      100% {
        opacity: 1;
        transform: translateX(50px);
      }

    }
    .c_arrow_w {
      opacity: 1;
      animation: arrowHeaderAn 5s ease 3s forwards;
    }
    @keyframes arrowHeaderAn {
      0% {
        left: 80%;
      }
      40% {
        left: 50%;
      }
      60% {
        left: 50%;
      }
      99% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        left: 80%;
      }
    }
    .c_a_f {
      animation: arrowFooterAn 5s ease 3s;
    }
    @keyframes arrowFooterAn {
      0% {
        width: 0;
      }
      40% {
        width: 350px;
      }
      60% {
        width: 350px;
      }
      100% {
        width: 0;
      }
    }
    .attack {
      animation: attackAn 8s ease 2s forwards;
    }
    @keyframes attackAn {
      0%{
        opacity: 0;
      }
      20% {
        opacity: 0.8;
      }
      80% {
        opacity: 0.8;
      }
      100% {
        opacity: 0;
      }
    }
  }
  .c_wrap {
    .c_w_desc {
      opacity: 1;
      transform: translateY(0);
    }
    .client_side,
    .virus {
      opacity: 1;
    }
  }
}