@import './../_variables.scss';
@import './../_mixins.scss';

.cot_container {
    width: 100%;
    min-width: $min-width;
    margin-bottom: 60px;
    color: $black;
    background-color: $main;
    .cot_con_wrap {
        width: $container-width;
        margin: 0 auto;
    }
    .cot_desc_con {
        width: 500px;
        height: 356px;
        padding-top: 44px;
        @include middle(top);
        h3 {
            margin-top: 20px;
            line-height: 35px;
        }
        p {
            margin-left: 20px;
            line-height: 25px;
        }
    }
}