@import './../_variables.scss'; 

.liu_container {
    width: 100%;
    height: 100%;
    color: $white;
    background: $black;
    .liu_wrap {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        .an1 {
            position: absolute;
            top: 200px;
            right: 350px;
            opacity: 0;
            transform: translateX(50px);
        }
        
        .an2 {
            position: absolute;
            top: 50%;
            left: 350px;
            opacity: 0; 
            transform: translateX(-50px) translateY(-50%);
        }
        
        .an3 {
            position: absolute;
            top: 350px;
            right: 350px;
            opacity: 0;
            transform: translateX(50px); 
        }
    }
}
//轮播图滚动至当前滑块显示动画
.liuliangAn {
  .an1,
   {
    animation: a1 1s ease .5s forwards;
  }
  .an2 {
    animation: a2 1s ease 1.5s forwards;
  }
  .an3 {
    animation: a1 1s ease 2.5s forwards;
  }
  @keyframes a1 {
    to {
        opacity: 1;
          transform: translateX(0px); 
    }
  }
  @keyframes a2 {
    to {
        opacity: 1;
        transform: translateX(0px) translateY(-50%); 
    }
  }
}