@import './../_variables.scss';

.wall_wrap {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) rotateX(20deg) rotateY(-55deg);
    width: 206px;
    height: 126px;
    //background: rgba(255, 255, 0, 0.3);
    transition: all 1s ease;
    transform-style: preserve-3d;
    .brick {
        display: inline-block;
        width: 80px;
        height: 40px;
        margin-right: 2px;
        background: rgba(150, 148, 148, 0.6);
        border-radius: 5px;
    }
    .t_bri {
        position: absolute;
        width: 80px;
        height: 25px;
        background: rgba(150, 148, 148, 0.6);
        border-radius: 5px;
    }
    .x11 {
        width: 40px;
        transform: translate3d(0, -57px, 12px) rotateX(90deg); 
    }
    .x12 {
        transform: translate3d(42px, -57px, 12px) rotateX(90deg); 
    }
    .x13 {
        transform: translate3d(124px, -57px, 12px) rotateX(90deg); 
    }
    .b_bri {
        position: absolute;
        width: 25px;
        height: 40px;
        background: rgba(150, 148, 148, 0.6); 
        border-radius: 5px;
    }
    .y {
        transform: translate3d(-12px, -44px, 13px) rotateY(90deg);
    }
    .h_bri {
        width: 40px;
    }
}
.f_wrap1 {
    -webkit-perspective: 800px;
    &:hover .wall_wrap {
        transform: translate(-50%, -50%) rotate3d(0, 0, 0, 20deg); 
    }
}