@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

@mixin middle($middle:middle) {
    display: inline-block;
    vertical-align: $middle;
}

@mixin background($size:100%) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: $size;
}